<%- include('../../components/header.ejs'); %>
    <%- include('../../components/navbar.ejs'); %>

        <body>
            <div class="container">
                <form action="">
                    <input type="text" name="title" placeholder="Defina o título da categoria">
                    <button class="btn btn-success">Cadastrar</button>
                </form>
            </div>


        </body>


        <%- include('../../components/footer.ejs'); %>