<nav class="nav-bar">
    <a class="logo" href="/">
        LOGO
    </a>

    <ul>

        <a href="/">
            HOME
        </a>

        <% categories.forEach(category=>{ %>
            <a href="/category/<%= category.slug  %> ">
                <%=category.title%>
            </a>
            <%}) %>

    </ul>
</nav>