<nav class="nav-bar">
    <a class="logo" href="/">
        <h1>Logo</h1>
    </a>

    <ul>

        <a href="/" class="link-menu">
            HOME
        </a>

        <% categories.forEach(category=>{ %>
            <a href="/category/<%= category.slug  %> " class="link-menu">
                <%=category.title%>
            </a>
            <%}) %>

    </ul>
</nav>